#firstdiv {
    display: flex;
    justify-content: center;

}
div{
    text-align: center;
}
#seconddiv {
        width: 300px;
        height: 300px;

        margin: auto;
}

#paragraph {
    margin: auto;
}