#firstdiv {
    display: flex;
    justify-content: center;

}
div{
    text-align: center;
}
#seconddiv {
        width: 300px;
        height: 300px;
        margin: auto;
}

#paragraph {
    margin: auto;
}

table {
    margin: auto;
    background-color: skyblue;
}
tr td:hover{
    background-color:lightblue;
    font-weight: bold;
}
tr td a{
  margin: 5px;
}

#projectcontainer a {
    margin-top: 50px;

}

#projectcontainer a {
    color: gray;
    margin: 10px;
}

#NavBar{
    background-color: skyblue;
    width: 100vw;
}
table{
    margin:auto;
}
tr td a{
    color: honeydew;
}
#introdiv {
    width:100vw;
    height:100vh;
    word-break: break-all;
    background-color: red;
    color: white;
    display: inline-block;
    text-align: center;
}
#expdiv {
    width: 100vw;
    height: 100vh;
    word-break: break-all;
    background-color: wheat;
    color: gray;
    display:    inline-block;
    text-align: center;
}
#edudiv {
    width: 100vw;
    height: 100vh;
    word-break: break-all;
    background-color: yellow;
    color: teal;
    display: inline-block;
    text-align: center;
}
#boxcontainer {
    width: 100vw;
    height: auto;
    display:flex;
    align-items: center;
    justify-content: center;
}
.textcontainer {
    width: 50%;
    margin: auto;
    font-size: 23px;
}