#title {
    font-size: 3em;
    color: red;
    text-align: center;
}

img {
    width: 100vw;
    height: 100vh;
}

#descriptionContainer p{
font-size: 2em;

}
#descriptionContainer p{
    border: 5px gray solid;
    margin: 10px;


}

